body {
    font-family: 'Roboto', sans-serif;
    background: url(../image/background.jpg);
}

.layout {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.layout .informacoes {
    display: flex;
    flex-direction: column;
    width: 300px;
    color: #fff;
    padding: 2px;
    margin-bottom: 20px;
}

.layout .informacoes .titulo {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
}
 
.layout .informacoes .paragrafo-mensagem{
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
}

.layout .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    width: 320px;
    height: 380px;
}

.layout .formulario input {
    width: 90%;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;
    margin: -6px;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #A8A8A8;
}

.layout .formulario .input-mensagem{
    height: 100px;
    padding-bottom: 60px;
}

.layout .formulario .mensagem-lembrete{
    align-self: flex-start;
    margin-left: 15px;
    margin-top:  -12px;
    font-weight: 400;
    font-size: 15px;
}

.formulario .botao{
    background-color: #3CCC87;
    color: #fff;
    padding: 3% 37%;
    border: 1px solid;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
}

.formulario .botao:active{
    background-color: green;
    border: 2px solid gray;
    cursor: pointer;
}
.erro{
    align-self: flex-start;
    margin-left: 15px;
    margin-top: -18px;
    margin-bottom: -12px;
    color: #F52E2E;
    font-size: 8px;
}

.layout .formulario .borda-vermelha{
    border: 1px solid #F52E2E;
}